*.png
_dataset/
autoencoder/runs
autoencoder/scripts
latent_neat/runs
latent_neat/scripts
borrar.py

# Caché de Python y archivos compilados
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (venv, env, conda, etc.)
venv/
env/
ENV/
env.bak/
venv.bak/

# Dependencias de compilación y empaquetado
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Bases de datos locales
*.sqlite3
*.db

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Logs de Python y reportes
*.log
local_settings.py